[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-session = "*"
flask-limiter = "*"
flask-mail = "*"
reportlab = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
qrcode = "*"
pillow = "*"
requests = "*"
flask-login = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
